nav {
  background-color: #000000;
  border-bottom: 2px solid #ffffff;

  .logo {
    font-size: 3rem;
    text-decoration: none;
  }

  .link-container {
    justify-content: right;
    padding-top: 20px;
    font-size: 1.2rem;

    a {
      padding-left:10px;
      text-decoration: none;
    }

    a:hover {
      font-weight: bold;
      border-bottom: 2px solid #ffffff;
    }
  }

  .active {
    border-bottom: 2px solid #ffffff;
  }
}