body {
  color: #ffffff;
  font-family: 'Architects Daughter', cursive;
  background-color: #000000;
}

h1,h2,h3 {
  color: #007bff;
}

.info-planet {
  padding-top: 12.5%;
}

.planet-img {
  padding-top: 2rem;
  width: 90%;
  height: 90%;
}

.extra-section {
  p {
    color: #007bff;

    span {
      color: #ffffff;
    }
  }

}

.info-box {
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 5px;

  p:nth-child(3) {
    color: #007bff;
  }
}
