body {
  color: #ffffff;
  font-family: 'Architects Daughter', cursive;
  background-color: #000000;
}

h1 {
  color: #007bff;
}

.info-planet {
  margin:12.5% 0;
}

.planet-img {
  padding-top: 55px;
  width: 100%;
  height: 100%;
}

.info-box {
  border: 2px solid #ffffff;
  border-radius: 5px;
}